@import url('https://fonts.googleapis.com/css2?family=REM:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0px;
}

body {
    background-color: #000021;
    color: #FFFFFF;
    scrollbar-width: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #0d0936;
    font-size: 1.5rem;
    position: fixed;
    top: 0%;
    z-index: 200;
}

nav .left {
    margin-left: 50px;
    font-size: 2rem;
    font-weight: 600;
}

nav .right ul {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

nav .right ul li {
    list-style: none;
    margin: 0px 10px;
}

nav .right ul li a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: grab;
    font-size: 1.2rem;
    transition: 0.4s;
    padding: 10px 20px;
    border: 3px solid transparent;
    border-radius: 40px;
}

nav .right ul li a:hover {
    color: #9999e2;
    border: 3px solid #9999e2;
}

nav .right ul li a:active {
    cursor: grabbing;
    color: #9999e2;
}

main hr {
    border: 0;
    background-color: #aa6be4;
    height: 2px;
    margin: 00px 84px;
}

.intro-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px 0;
    height: 80vh;
    overflow: hidden;
}

.intro-section > div {
    width: 30%;
}

.left-section > span {
    white-space: nowrap;
}

.intro-section .left-section {
    font-size: 3rem;
}

.area {
    width: fit-content;
    transition: 0.5s;
}

.intro-section .right-section .area img {
    width: 80%;
    transform: translateX(200%);
    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.12,-0.33, 0.85, 1.28);
}

@keyframes slide {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0%);
    }
}

.intro-section .right-section .area:hover {
    transform: scale(1.05);
}

.purple {
    color: #aa6be4;
}

.gray {
    color: #808080;
}

#element {
    color: #aa6be4;
}

.intro-section .left-section button {
    outline: 0;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #debdfd;
    color: #0d0936;
    padding: 10px 30px;
    font-size: 24px;
    margin-top: 60px;
    transition: 0.5s;
}

.intro-section .left-section button:hover {
    background-color: #0d0936;
    color: #debdfd;
    border: 2px solid #debdfd;
    cursor: grab;
}

.intro-section .left-section button:active {
    background-color: #debdfd;
    color: #0d0936;
    border: 2px solid transparent;
    cursor: grabbing;
    transform: scale(0.95);
}

.about-section {
    margin: 100px 0px;
}

.about-section>h1 {
    font-size: 2.4rem;
    margin-bottom: 80px;
    margin-left: 160px;
}

.about-section span {
    margin-left: 160px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.container .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .left img {
    width: 500px;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    transition: 0.5s;
    opacity: 0.8;
}

.container .left img:hover {
    transform: scale(1.10);
    opacity: 1;
    box-shadow: 0px 0px 40px #ffffffa4;
}

.container .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .right .card {
    width: 700px;
    height: 524.88px;
    background-color: #ffffff09;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 50px;
}

.container .right .card h1 {
    margin-bottom: 20px;
}

.container .right .card:hover {
    transform: scale(1.10);
    background-color: #ffffff1a;
}

.education-section {
    width: 80vw;
    margin: 100px 0px;
    margin-left: 160px;
    height: 60vh;
}

.education-section h1 {
    font-size: 2.4rem;
    margin-bottom: 150px;
}

.education-section .box {
    background-color: #FFFFFF;
    width: 80vw;
    height: 2px;
    margin: 56px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -40px;
}

.education-section .box .vertical {
    background-color: #FFFFFF;
    height: 93px;
    width: 1px;
}

.vertical .image-top {
    width: 64px;
    position: relative;
    top: -80px;
    left: -32px;
}

.vertical img {
    transition: 0.5s;
}

.vertical img:hover {
    transform: scale(1.10);
}

.vertical .vertical-title {
    position: relative;
    top: 55px;
    width: 150px;
    font-size: 20px;
}

.vertical .vertical-desc {
    position: relative;
    top: 65px;
    width: 150px;
    font-size: 12px;
}

.tech-skills-section {
    width: 80vw;
    margin: 100px 0px;
    margin-left: 160px;
    height: 170vh;
}

.tech-skills-section h1 {
    font-size: 2.4rem;
    margin-bottom: 100px;
}

.skill-section {
    margin-top: 50px;
}

.skill-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px;
}

.skill-row .skill {
    transition: 0.3s;
}

.skill-row .skill:hover {
    transform: scale(1.10);
}

.skill-row .skill .horizontal {
    background-color: #aa6be4;
    width: 500px;
    height: 24px;
    margin-top: 16px;
    border-radius: 30px;
}

.skill-row .skill .value {
    background-color: #000000;
    height: 16px;
    margin-top: 15px;
    border-radius: 20px;
    position: relative;
    top: -35px;
    left: 5px;
}

.skill-row .skill .html {
    width: 490px;
}

.skill-row .skill .css {
    width: 490px;
}

.skill-row .skill .js {
    width: 410px;
}

.skill-row .skill .gsap {
    width: 210px;
}

.skill-row .skill .loco {
    width: 310px;
}

.skill-row .skill .trig {
    width: 220px;
}

.skill-row .skill .boot {
    width: 430px;
}

.skill-row .skill .tail {
    width: 290px;
}

.skill-row .skill .py {
    width: 490px;
}

.skill-row .skill .cpp {
    width: 470px;
}

.skill-row .skill .c {
    width: 330px;
}

.skill-row .skill .java {
    width: 490px;
}

.skill-row .skill .django {
    width: 420px;
}

.skill-row .skill .react {
    width: 330px;
}

.skill-row .skill .expr {
    width: 250px;
}

.skill-row .skill .node {
    width: 250px;
}

.skill-row .skill .swng {
    width: 390px;
}

.skill-row .skill .tk {
    width: 390px;
}

.skill-row .skill .php {
    width: 370px;
}

.skill-row .skill .dsa {
    width: 380px;
}

.skill-row .skill .mongo {
    width: 420px;
}

.skill-row .skill .post {
    width: 450px;
}

.skill-row .skill .mysql {
    width: 450px;
}

.skill-row .skill .canva {
    width: 490px;
}

.non-tech-skills-section {
    width: 80vw;
    margin: 100px 0px;
    margin-left: 160px;
    height: 70vh;
}

.non-tech-skills-section h1 {
    font-size: 2.4rem;
    margin-bottom: 100px;
}

.skill-section-2 {
    margin-top: 50px;
}

.skill-row-2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 70px;
}

.skill-row-2 .skill-2 {
    transition: 0.3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.skill-row-2 .skill-2:hover {
    transform: scale(1.10);
}

.skill-2 h2 {
    margin-top: 40px;
}

.skill-row-2 .skill-2 .pie {
    width: 125px;
    height: 125px;
    background-image: conic-gradient(#000000 360deg, transparent 360deg);
    border-radius: 50%;
}

.skill-row-2 .skill-2 .lead {
    width: 125px;
    height: 125px;
    background-image: conic-gradient(#00ff15 340deg, #000021 0 235deg, #000021 0);
    border-radius: 50%;
}

.skill-row-2 .skill-2 .pers {
    width: 125px;
    height: 125px;
    background-image: conic-gradient(#00ff15 300deg, #000021 0 235deg, #000021 0);
    border-radius: 50%;
}

.skill-row-2 .skill-2 .res {
    width: 125px;
    height: 125px;
    background-image: conic-gradient(#00ff15 320deg, #000021 0 235deg, #000021 0);
    border-radius: 50%;
}

.skill-row-2 .skill-2 .hard {
    width: 125px;
    height: 125px;
    background-image: conic-gradient(#00ff15 360deg, #000021 0 235deg, #000021 0);
    border-radius: 50%;
}

.skill-row-2 .skill-2 .crtv {
    width: 125px;
    height: 125px;
    background-image: conic-gradient(#00ff15 280deg, #000021 0 235deg, #000021 0);
    border-radius: 50%;
}

.skill-row-2 .skill-2 .red {
    width: 125px;
    height: 125px;
    background-image: conic-gradient(#00ff15 320deg, #000021 0 235deg, #000021 0);
    border-radius: 50%;
}

.skill-row-2 .skill-2 .pie-center {
    border-radius: 50%;
    background-color: #000021;
    width: 100px;
    height: 100px;
    margin-top: -112px;
    margin-left: 12px;
}

.projects-section {
    width: 80vw;
    margin: 100px 0px;
    margin-left: 160px;
    height: 220vh;
}

.projects-section>h1 {
    font-size: 2.4rem;
    margin-bottom: 100px;
}

.projects-section .project-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project-row .project {
    display: flex;
    gap: 30px;
    height: 300px;
}

.project .image-div {
    width: 1210px;
    overflow: hidden;
    border-radius: 10px;
}

.project .description-div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.description-div h1 {
    font-size: 40px;
    font-weight: 600;
}

.description-div a {
    color: #9999e2;
    text-decoration: none;
    transition: 0.2s;
}

.description-div a:hover {
    color: #d1d1ff;
    cursor: grab;
}

.description-div a:active {
    cursor: grabbing;
}

.project-row a img {
    height: 300px;
    border-radius: 10px;
    transition: 0.4s;
}

.project-row a img:hover {
    cursor: grab;
    transform: scale(1.10);
}

.project-row a img:active {
    cursor: grabbing;
}

.other-projects {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.other-projects h1 {
    font-weight: 200;
    margin-top: 50px;
}

.other-projects a i {
    color: #fff;
    transform: scale(3.5);
    transition: 0.2s;
    margin-top: 50px;
}

.other-projects a i:hover {
    transform: scale(4);
    filter: drop-shadow(0px 0px 10px #fff);
}

.end {
    text-align: center;
    margin: 60px 0px;
}

footer {
    background-color: #010013;
    height: 130px;
    margin-top: 50px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.footer .first-foot {
    cursor: pointer;
}

.footer .first-foot h3 a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer > div {
    width: 200px;
}

.footer ul li {
    list-style: none;
    line-height: 1.6rem;
}

.footer ul li a img{
    width: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.footer ul li a img:hover {
    transform: scale(1.5);
}

.footer .second-foot ul {
    display: flex;
    gap: 30px;
}

.fourth-foot img {
    width: 40px;
    margin-left: 100px;
    transition: 0.4s;
}

.fourth-foot img:hover {
    transform: scale(1.5);
}

.footer-rights {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #010013;
    padding: 20px 0px;
}
